{% extends 'base.html' %}
{% block title %} Contact {% endblock %}

{% block content %}

<style>
    .box{
        text-align: center;
        position: relative;
        margin-top: 140px;
        left: 500px;
        background-color: white;
        width: fit-content;
        padding: 70px;
        border-radius: 50px;

    }
    p{
        font-size: 40px;
        color: skyblue;
    }

</style>
<div class="box">
    <h1>Contact me</h1>
    <p>📞123-5678</p>
    <p>📨sample@gmail.com</p>
</div>

{% endblock %}
